@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.fondo {
    background-image: linear-gradient(156.8deg,  rgba(30,144,231,0.500) 27.1%, rgba(67,101,225,0.500) 77.8%);
    font-family: "El+Messiri:wght" ;  
}
.navbar {
    border-radius: 10px;
}
.navbar-nav a{
    color: rgba(0, 53, 122, 0.811);
    font-weight: bolder;
    font-family: "El+Messiri:wght";
    font-size: 15px;
}
.header {
    background-image: radial-gradient(circle farthest-corner at 10% 20%,  rgba(0, 53, 122, 0.811) 30%, rgb(88,0,191,0.500) 70.2%); ;
    color: white;
    border-radius: 10px;
}
.titulo {
    font-size: 60px;
}
.card{
    background-color: rgba(0, 53, 122, 0.811);
    color:white;
}
.CardTitlePricipal{
    font-size: 50px;
}
.pTextPrincipal {
    font-size: 25px;
    font-family: "Permanent+Marker&display=swap";
}
.fondoCard {
    border-radius: 10px;
}
.CardTitleIndex{
    font-size: 30px;
    color:rgba(0, 53, 122, 0.811);
}
.pText {
    color: white;
    font-size: 20px;
}
.tituloMetodox {
    color:rgba(0, 53, 122, 0.811);
    font-weight: bolder ;
}
.cardMetodoX {
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
}
.cardNosotros {
    border-bottom: 10px ridge rgba(0, 53, 122, 0.911);
    border-radius: 10px;
}
.fotoNosotros {
    border-radius: 200px;
}
.fondoFooter{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0, 53, 122, 0.811) 30%, rgb(88,0,191,0.500) 70.2%);
    border-radius: 10px;
    color: white;
}
.btn {
    color: white;
    font-weight: bold;
}

